{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../static/docs/resume.pdf">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/NikolaiLyssogor">GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
    {% block app_content %}{% endblock %}

    {% block footer %}
        <div class="container">
            <!-- <i class="fab fa-linkedin"></i> -->
            <!-- <i class="fab fa-github"></i> -->
        </div>
    {% endblock footer %}
{% endblock %}


