{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='/img/flowers.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="site-heading">
                <h1>The Website of Nikolai Lyssogor</h1>
            </div>
        </div>       
    </header>

    <!-- Post-Preview Cards -->
    <div class="container" id="Posts">
        <div class="card">
            <a href="{{ url_for('algo_intro') }}">
                <div class="card-body">
                    <h2 class="card-title">A Brief Introduction to Algorithmic Trading</h2>
                    <h3 class="card-text">Scheduling, Routing, Pairs Trading</h3>
                </div>
            </a>
            <footer>Posted on May 12, 2021</footer>
        </div>
        <hr>
    </div>
{% endblock %}